<div class="container-fluid pading-top">
    <div class="row">
        <div class="col-md-12">
            
            <div class="form-group">

                <label for="exampleInputEmail1">
                    Texto
                </label>
                <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="texto"  />  
            </div>

            <div class="form-group">
                <label for="exampleInputFile">
                    imagen
                </label>
                <input type="file" class="form-control-file" id="exampleInputFile" (change)="fileChangeEvent($event)" />
            </div>

            <button type="button" class="btn btn-primary" (click)="crearImagen()">
                crear imagen
            </button>

            
           
        </div>
        <div class="row m-3">
            <div class="col-ms-6">
                <img *ngIf="estado" id="imagen-selecionada" class="tamanio-imagen" [src]="imageSrc" alt="" >
            </div>
        </div>
    </div>
</div>